html {
    font-family: 'Source Code Pro', monospace;
}

:root {
    --text-color: #696969;
    --high-color: #969696;
    --link-color: #627b94;
    --back-color: #1c1c1c;
    --code-color: #62946f;
    --cobg-color: #202020;
    --sele-color: #ffffff10;
    --foot-color: #191919;

    --footer-height: 80px;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--back-color);
    color: var(--text-color);
    font-size: 12pt;
    margin: 0;
}

div#container>main {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 800px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 12pt;
    font-weight: bold;
    color: var(--high-color);
}

h1 {
    font-size: 16pt;
}

a {
    color: var(--link-color);
}

code {
    color: var(--code-color);
}

div.code {
    border-left: solid 1px var(--text-color);
    background: var(--cobg-color);
}

div.code>pre {
    padding: 8px;
    font-size: 11pt;
}

::selection {
    background: var(--sele-color);
}

#footer {
    padding-top: 10px;
    background: var(--foot-color);
    text-align: center;
    width: 100%;
    margin-top: auto;
    height: var(--footer-height);
}

#footer>p {
    margin-bottom: 0;
}

.webring-banner {
    margin: auto;
    margin-top: 100px;
    max-width: 360px;
    background: var(--cobg-color);
}

.webring-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid var(--text-color);
}

.webring-image {
    display: block;
    width: 70px;
    height: 70px;
    filter: invert(70%);
}

h3>a {
    text-decoration: none;
}

.webring-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    margin: 0;
}

.webring-title {
    font-size: 18pt;
    margin: 0;
}

.webring-info {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: .75rem;
    text-align: center;
    color: #666;
    text-decoration: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.webring-prev, .webring-next {
    display: block;
    text-decoration: none;
}
